name: "Ci pipeline"

on:  
  push:
    branches: "main"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        version: [8.0, 9.0]

    steps:
      - name: "Action checkout build"
        run: |
          "echo ${{ toJSON(github.user) }} requested push to main"
          
      - name:  "Execute build"
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
        with: ${{ matrix.version }}
      
      - name: "branch"
        run: |
          "echo build started date +%D %T"
          "dotnet build --configuration release"
          "echo build ended date +%D %T"

      - name: "Execute Test"
        if: success()
        run: |
          "dotnet --restore"
          "dotnet test --no-build"

      - name: "Build Failed"
        if: failure()
        run: |
          "Build failed with the following errors (promise i'll capture the ouput eventually)"
