name: "Ci pipeline"

on:  
  push:
    branches: [main]
    
  workflow_dispatch:

  pull_request:

jobs:
  context_info:
    name: Context info
    runs-on: ubuntu-latest
    steps:
    - name: Check Context
      run: |
        echo " ${{ toJSON(github) }} "

  pr_info:
    name: Pr info
    if: ${{ github.event.pull_request }}
    runs-on: ubuntu-latest
    steps:
      - name: "pr_event"
        run: |
           echo "pr"
           
  main_push:
      name: Push Info
      runs-on: ubuntu-latest
      if: ${{ github.event.branches.main }}
      steps:
        - name: "other_event"
          run: |
            echo "other"
      
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        version: [8.0, 9.0]

    steps:
      - name: "Action checkout build"
        run: |
          echo "${{ toJSON(github.user) }} requested push to main"
          
      - name:  "code checkout"
        uses: actions/checkout@v5

        
      - name: "setup dotnet"
        uses: actions/setup-dotnet@v4
        with: 
          dotnet-version: ${{ matrix.version }}
      
      - name: "get dependecies"
        run: | 
          dotnet restore
        
      - name: "branch"
        run: |
          echo "build started"
          dotnet build 
          

      - name: "Execute Test"
        if: success()
        run: |
          dotnet test --no-build

      - name: "Build Failed"
        if: failure()
        run: |
          echo "Build failed with the following errors (promise i'll capture the ouput eventually)"
